<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Text 2 Hex</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700">
    <link rel="stylesheet" href="assets/css/styles.css">

</head>

<body>
    <section id="main" style="background-color: black;">
        <div class="container" id="code">
            <div class="row">
                <div class="col" style="padding-left: 0px;">
                    <h1 id="t1" class="headers" style="font-size: 1.5rem;color: white;">Text Input</h1>
                </div>
                <div class="col" style="padding-left: 0px; ">
                    <h1 id="t2" class="headers" style="font-size: 1.5rem;margin-left: 39px; color: white;">Encrypted Out</h1>
                </div>
            </div>
            <div class="row" style="color: black;">
                <div id="e1" class="col2">
                    <div id="Text" class="editor">
                        <textarea maxlength="16" id="text" rows="20" cols="30" style="color: white; background-color: darkslategray;border-radius: 12px;"></textarea>
                    </div>
                </div>
                <a class="container2">
                    <i id="icon"class="fa fa-arrow-right" style="color: black;"></i>
                </a>
                <div id="e2" class="col2">
                    <div id="Hexa" class="editor">
                        <textarea readonly id="hexa" rows="20" cols="30" style="color: white;background-color: darkslategray;border-radius: 12px;"></textarea></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="container text-center" id="buttons">
            <div class="row" style="text-align: center;">
                <div class="col d-flex flex-column"><button onclick="read()" class="btn btn-primary buttons" type="button" style="background-color: darkslategray; margin: auto;width: 150px;color: white;"><i class="fas fa-play" style="color: white;"></i>&nbsp;Translate</button></div>
            </div>
        </div>
        <div class="container" id="shell">
                <div class="row">
                    <div lass="col">
                        <h1 class="headers" style="color: white;">Shell</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col"><textarea readonly id="shell-out" style="background-color: darkslategray; height: 330px;"></textarea></div>
                </div>
            </div>
    </section>
    <script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/bootstrap/js/bootstrap.min.js"></script>
    <script>

    </script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>